@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Games</h1>
@foreach (var g in Model.Games)
{
    <p>@g.Name</p>
    <p>@g.ReleaseDate</p>
    foreach (var d in g.Developers)
    {
        <p>@d</p>
    }
    foreach (var genre in g.Genres)
    {
        <p>@genre.Name</p>
    }
}